<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Responsive image</title>
    <script type="text/javascript" src="static/js/jquery-3.2.1.min.js">

    </script>
    <script type="text/javascript" src="static/js/popper.js">

    </script>
    <script type="text/javascript" src="static/js/bootstrap.min.js">

    </script>
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item ">
          <a class="nav-link" href="#">COFFEE</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">TEA</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">MENU</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">COFFEEHOUSE</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">SOCIAL IMPACT</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">STARBUCKS REWARDS</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">BLOG</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">GIFT CARDS</a>
        </li>
      </ul>
    </nav>


  </body>
</html>
