<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Flask intro</title>
  </head>
  <body>
    <h1>Heading 1</h1>
    <h2>Heading 2</h2>
    <h3>Heading 3</h3>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

    <a href="http://kosocho.com" target="_blank">kosocho</a>
    <br>

    <img src="static/husky.jpg" alt="Gai xinh lam day">
    <br>

    <spanclass="">
      Hôm nay bị cảm nắng
    </span>

    <span class="">
      Trời lạnh mà vẫn bị cảm nắng là sao?
    </span>

    <ul>
      <li>Vì 1 bạn nữ nào đó?</li>
      <li>Vì nắng thật?</li>
      <li>Xạo lồng?</li>
    </ul>

    <ol>
      <li>Vì 1 bạn nữ nào đó?</li>
      <li>Vì nắng thật?</li>
      <li>Xạo lồng?</li>
    </ol>

  </body>
</html>
