<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Demo element element selector</title>
    <style>
      div p {
        color: blue;
        font-family: Arial;
      }

      div span {
        background-color: green;
      }

      div a {
        text-decoration: none;
        color: purple;
      }
    </style>
  </head>
  <body>
    <div class="">
    <p>I wandered lonely as a cloud<br>
    That floats on high o’er vales and hills,<br>
    When all at once I saw a crowd,<br>
    A host, of golden daffodils;</p>
    <span>Beside the lake, beneath the trees,<br>
    Fluttering and dancing in the breeze.</span>
    </div>

    <div>
    <p>Continuous as the stars that shine<br>
    And twinkle on the milky way,<br>
    They stretched in never-ending line<br>
    Along the margin of a bay:<br>
    Ten thousand saw I at a glance,<br>
    Tossing their heads in sprightly dance.
    </p>
    </div>

    <div>
    <span>The waves beside them danced; but they<br>
    Out-did the sparkling waves in glee:<br>
    A poet could not but be gay,</span>
    <p>In such a jocund company:<br>
    I gazed—and gazed—but little thought<br>
    What wealth the show to me had brought:</p>
    </div>

    <div>
    <a href="#">For oft, when on my couch I lie<br>
    In vacant or in pensive mood,</a>
    <p>They flash upon that inward eye<br>
    Which is the bliss of solitude;<br>
    And then my heart with pleasure fills,<br>
    And dances with the daffodils.,</p>
    </div>
  </body>
</html>
