<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Information about me</title>
    <link rel="icon" type="image/png" href="static/GoodReads2.png" />
  </head>
  <body background="static/bluestar.jpg" style="font-size: 18px;">
    <!-- Name, work, school, hobbies, even your dog or your crush -->
    <center><h1>Welcome to my home ^^!</h1></center>
    <center><img src="static/sweethome.jpg" alt=""></center>
    <img src="static/avatar.jpg" alt="" width="25%" height="auto" style="float: left; margin-right: 40px; margin-left: 20px;">
    <h4>Here is some information about me:</h4>
    <ul>
      <li><b>Name:</b> Thanh Long Dinh</li>
      <li><b>Nickname:</b> BlueStar</li>
      <li><b>DOB:</b> 31/05/1994 (Gemini)</li>
      <li><b>Work:</b> I worked at many places like restaurants, hotels, coffee shops about 4 years & a half. But now I'm jobless & I'm looking for a job about IT </li>
      <li><b>School:</b> I studied at Electric Power University then droped out of school & go to work. Until the summer in 2016 I decided to study at FPT Aptech but now it's been maintaining of academic records. <br>
      Now I'm just studying at <a href="http://techkids.vn/">Techkids Coding School</a>. </li>
      <li><b>Hobbies:</b>
        <ol>
          <li>Listening to music</li>
          <li>Playing computer games</li>
          <li>Travelling</li>
          <li>Watching movies</li>
          <li>Playing the instruments (but not good ^^)</li>
          <li>Cooking</li>
          <li>Playing with my pets (But now I don't have any pets)</li>
        </ol>
      </li>
      <li><b>Relationship:</b> FA :v</li>
    </ul>
  </body>
</html>
