body {
  font-family: "Georgia";
}

.logo-img {
  height: 50px;
  width: auto;
  margin: 0 auto;
  display: block;
}

.ul-nav {
  border: 1px solid #CCC;
  border-width: 1px 0;
  list-style-type: none;
  text-align: center;
  font-family: Arial;
  font-size: 13px;
  font-weight: bold;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(204,204,204,1);
  -moz-box-shadow: 10px 10px 5px 0px rgba(204,204,204,1);
  box-shadow: 0px 5px 5px 0px rgba(204,204,204,1);
}

.li-nav {
  display: inline;
  padding: 0 120px;
  line-height: 35px;
}

.li-nav a {
  text-decoration: none;
  display: inline-block;
  color: black;
}

.title {
  font-family: Arial;
}

.title-h3 {
  font-size: 2.5em;
  font-weight: 150px;
}

.title-h2 {
  font-size: 1.5em;
  font-style: italic;
  width: 700px;
}

/*.title-p {
  font-size: 0.75em;
}*/

.title-p a {
  text-decoration: none;
  color: #5c5c5c;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 20px 0;
  padding: 0;
}

.content {
  padding: 0 50px;
}

.left-content {
  width: 66%;
  float: left;
  margin-right: 20px;
}

.img-title {
  font-size: 1.2em;
  font-style: italic;
  width: 225px;
  margin-top: 0px;
  margin-bottom: 0px;
}

small {
  color: #d2d2d2;
  font-size: 1em;
}

.image-content {
  float: right;
  margin-left: 20px;
}

.main-content {
  margin-left: 100px;
  font-size: 1.2em;
}

.image-content img {
  height: 310px;
  width: auto;
}

.first-p-content:first-letter {
  display: inline;
  font-size: 2.3em;
  float: left;
  line-height: 60px;
  margin-right: 5px;
  margin-top: -7px;
}

.first-p-content a {
  color: black;
}

.right-content {
  width: 32%;
  height: auto;
  float: right;
  margin-top: 150px;
}

.title-right-content {
  font-family: Arial;
  text-align: center;
  border: 1px solid #CCC;
  border-width: 1px 0;
  line-height: 30px;
}

.red-title {
  color: #E1575A;
  font-size: 0.75em;
}

.name-right-content {
  font-size: 1.2em;
}

.name-right-content a {
  text-decoration: none;
  font-weight: bold;
  color: black;
}

.name-right-content p a {
  font-weight: normal;
  color: #5b5b5b;
}

.name-right-content p {
  margin-top: 1.5px;
  color: #5b5b5b;
}

.bottom-left-content {
  width: 35%;
  float: left;
  margin-left: 100px;
}

.bottom-right-content {
  width: 35%;
  float: right;
  margin-right: 150px;
}

.title-bottom-content {
  text-decoration: none;
  color: black;
  font-family: Arial;
}

.h2-bottom-content {
    font-weight: normal;
    font-size: 1.2em;
}

.author-name-bottom {
  font-size: 1em;
  display: inline;
  font-family: Arial;
  color: #747474;
}

.author-name-bottom a {
  text-decoration: none;
  color: #747474;
}

.span-bottom-content {
  margin-left: 10px;
  font-size: 0.8em;
  font-family: Arial;
  color: #5E5E5E;
}

.footer {
  background-color: black;
  text-align: center;
  margin-top: 50px;
}

.footer a {
  display: inline-block;
  text-decoration: none;
  color: #929292;
  font-family: Arial;
  font-weight: normal;
  padding: 0 25px;
}

.dot {
  font-weight: bold;
  font-size: 1.5em;
}
