<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>New Yorker</title>
  </head>
  <body>
    <img src="static/logo.svg" alt="">
    <ul>
      <li>
          <a href="#">News</a>
      </li>
      <li>
          <a href="#">Culture</a>
      </li>
      <li>
          <a href="#">Books</a>
      </li>
      <li>
          <a href="#">Humor</a>
      </li>
    </ul>

    <a href="#">Books</a>
    <br>
    <a href="#">November 27, 2017 Issue</a>
    <h3>What Mary Oliver's Critics Don't Understand</h3>
    <h2>For America's most beloved poet, paying attention to nature is a springboard to the sacred.</h2>
    <p>By <a href="#">Ruth Franklin</a></p>
    <ul>
      <li><img src="static/facebook.svg" alt=""></li>
      <li><img src="static/twitter.svg" alt=""></li>
      <li><img src="static/email.svg" alt=""></li>
    </ul>
    <img src="static/img.jpg" alt="">
    <p>Oliver uses nature as a springboard to the sacred -- the beating heart of her work.</p>
    <small>Illustration by Deanna Halsall</small>
    <p>"Mary Oliver is saving my life," Paul Chowder, the title character of Nicholson Baker's novel "<a href="#">The Anthologist</a>," scrawls in the margins of Oliver's "<a href="#">New and selected poems, Volume One</a>." A struggling poet, Chowder is suffering from a severe case of writer's block. His girlfriend, with whom he's lived for eight years, has just left him, ostensibly because he has been unable to write the long-overdue introduction to a poetry anthology that he has been putting together. For solace and inspiration, he turns to poets who have been his touchstones -- Louise Bogan, Theodore Roethke, Sara Teasdale -- before discovering Oliver. In her work, he finds consolation: "I immediately felt more sure of what I was doing." Of her poems, he says, "They're very simple. And yet each has something."</p>
    <blockquote cite="http://">
      I don't know exactly what a prayer is. <br>
      I do know how to pay attention, how to fall down <br>
      into the grass, how to kneel down in the grass, <br>
      how to be idle and blessed, how to stroll through the fields, <br>
      which is what I have  been doing all day.
    </blockquote>
    <p>The cadences are almost Biblical. "Attention is the beginning of devotion," she urges elsewhere.</p>
    <p>This article appears in the print edition of the November 27, 2017, issue, with the headline "The Art of Paying Attention."</p>
    <ol>
      <li>
        <p>Letter from Washington</p>
        <a href="#">The Danger of President Pence</a>
        <p>By <a href="#">Jane Mayer</a></p>
      </li>
      <li>
        <p>Our Columnists</p>
        <a href="#">No End in Sight to the Brexit Madness</a>
        <p>By <a href="#">John Cassidy</a></p>
      </li>
      <li>
        <p>Satire from The Borowitz Report</p>
        <a href="#">Mueller Rents Giant Warehouse to Store Evidence Against Trump</a>
        <p>By <a href="#">Andy Borowitz</a></p>
      </li>
    </ol>
    <div class="">
      <p>Daily Cartoon</p>
      <a href="#">
        <h2>Daily Cartoon: Friday, November 24th</h2>
      </a>
      <h2>Forgetting the garnish.</h2>
      <p>By <a href="#">Liana Finck</a></p>
      <span>Nov.24, 2017</span>
    </div>

    <div class="">
      <span>Elements</span>
      <a href="#">
        <h2>At Berkeley, a New Generation of Ethical Hackers Learns the Do's and Don'ts of Cybersecurity</h2>
      </a>
      <h2>How long would it take a junior computer-science major to disrupt an election</h2>
      <p>By <a href="#">Anna Wiener</a></p>
      <span>Nov.24, 2017</span>
    </div>

    <div class="">
      <a href="#">
        <h4>Listen to the New Yorker Radio Hour</h4>
      </a>
      <a href="#">
        <h4>Buy the Cover</h4>
      </a>
      <a href="#">
        <h4>Play the Jigsaw Puzzle</h4>
      </a>
    </div>
  </body>
</html>
